body {background-color:#FFFFFF;} 
.title {
    /*background-image: url("picture/back.jpg");*/
    color: white;
    text-align: left;
    height:auto;
    border: 0;
    margin: 0;
}


.guide {
    background-color: #1346a7;
    text-align: left;
    padding: 10px;
}

a.button-guide:link,a.button-guide:visited
    {
        display:block;
        font-weight:bold;
        color: #000000; 
     /*   background-color:#0c4cc4;*/
        width:120px;
        padding: 5px;
        text-align:center;
        text-decoration:none;
    }
a.button-guide:hover,a.button-guide:active
    {
        /*background-color:#06358d;*/
        color:#e9e8e8;
    }
#guide-list li{
        display: inline;
        float: left;
    }
#guide-list-ri li{
        display: block;
        float: right;
}
.video {
    /*background-color: cadetblue;*/
    /*background-image: url("picture/background.png");*/
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

.board {
    /*background-image: url("picture/back2.png");*/
    color:white;
    text-align: left;
    padding: 20px;
} 

a.linker:link,a.linker:visited {
    display:block;
        font-weight:bold;
        color: #000000; 
     /*   background-color:#0c4cc4;*/
        padding: auto;
        width: auto;
        text-decoration:none;
}

.explaination{
    color:white;
    text-align: center;
    padding: auto;
}

