

#guide-list a.button-guide:link,a.button-guide:visited
    {
        display:block;
        font-weight:bold;
        color: #000000; 
     /*   background-color:#0c4cc4;*/
        width:120px;
        padding: 10px;
        text-align:center;
        text-decoration:none;
        border-radius: 10px;
    }
#guide-list-ri a.button-guide:link,a.button-guide:visited
    {
        display:block;
        font-weight:bold;
        color: #000000; 
     /*   background-color:#0c4cc4;*/
        width:120px;
        padding: 10px;
        text-align:center;
        text-decoration:none;
    }


#guide-list li:last-child{
    border-right: 0;
}

#guide-list li{
        display: inline;
        float: left;
        border-right: 1px solid rgb(161, 158, 158);
        
    }
#guide-list-ri li{
        display: block;
        float: right;
}

#Bt-home a.button-guide:hover{background-color: #5cc3f0;}
#Bt-system a.button-guide:hover{background-color: #50f078;}
#Bt-software a.button-guide:hover{background-color: #f0f87a;}
#Bt-about a.button-guide:hover{background-color: rgb(241, 106, 106);}
#Bt-news a.button-guide:hover{background-color: #bf7af8;}
#Bt-donate a.button-guide:hover{background-color: gold;}