@keyframes all
{
    from {transform: translate(0,300px);}
    to {transform: translate(0,0);}
}

.whole {
    animation: all 5s linear infinite;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
}
