@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  min-height: 100vh;
}

.dark {
  color-scheme: dark;
}

.news-bg-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.news-bg-container > .image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.news-bg-container > .overlay {
  position: absolute;
  inset: 0;
  @apply bg-black/50;
}

.news-container {
  position: relative;
  display: flex;
  min-height: min-content;
  justify-content: stretch;
  @apply lg:flex-row flex-col;
}

.news-container > .cover {
  @apply basis-2/3;
}

.news-container > .cover > .image {
  @apply w-full h-full object-contain object-center;
}

.news-container > .body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  flex-grow: 1;
  @apply px-12 py-8 lg:p-12 basis-auto;
  @apply sm:flex-row sm:justify-between sm:items-center;
  @apply lg:justify-start lg:flex-col lg:items-start;
}

.news-container > .body > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-container > .body > .container > .title {
  @apply text-4xl font-bold text-white mb-2;
  @apply xl:text-5xl;
}

.news-container > .body > .container > .subtitle {
  @apply text-xl text-white mb-4 lg:mb-8;
}

.news-container > .body > .link-button {
  @apply block w-full text-center sm:w-max bg-[#00a2e800];
  @apply border-2 border-white;
  @apply px-16 py-4 lg:my-1 rounded-lg transition-all ease-in-out duration-200;
  @apply text-white;
}

.news-container > .body > .link-button:hover {
  @apply block bg-[#00a2e8];
  @apply border-2 border-[#00a2e8];
  @apply text-white;
}

.nav-menu-button {
  transition: all 200ms ease-in-out;
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-button:hover {
  @apply bg-gray-400/10;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 24px;
  gap: 6px;
}

.menu-icon > .line {
  width: 24px;
  height: 2px;
  transition: all 200ms ease-in-out;
  @apply bg-gray-400/90;
  @apply rounded-full;
}

.nav-menu-button:hover > .menu-icon > .line {
  @apply bg-white;
}

.nav-menu-button.active > .menu-icon > .line:nth-child(1) {
  /* Top = Height of .line + Gap */
  @apply rotate-[45deg] translate-y-[8px];
}

.nav-menu-button.active > .menu-icon > .line:nth-child(2) {
  width: 0;
}

.nav-menu-button.active > .menu-icon > .line:nth-child(3) {
  @apply -rotate-[45deg] -translate-y-[8px];
}
